@media (max-width:424px)
{
	#my_name
	{
		font-size:3em;
	}

	.beige_green
	{
		font-size:1.25em;
	}

	.subtitles
	{
		font-size:3rem;
	}
}

@media (max-width:500px)
{
	#nav_dropdown_icon
	{
		right:30px;
	}

}

@media (max-width:575px)
{
	.bullet_points
	{
		display:block;
	}

	.title_block
	{
		margin-left:auto;
		margin-right:auto;
	}

}

@media (max-width:615px)
{
	#welcome_tag
	{
		font-size:2em;
	}
}

@media (max-width:770px) and (min-width:425px)
{
	#my_name
	{
		font-size:5em;
	}

	.subtitles
	{
		font-size:4.5rem;

	}

}


@media (max-width:925px)
{
	.content_text
	{
		display:none;
	}

	#nav_dropdown_icon
	{
		display: inline-block;
	}
}

@media (min-width:925px)
{
	#nav_dropdown
	{
		display:none;
	}
}

@media (min-width: 1175px)
{
	/*we should be good that was my default*/
}